/*VARIABLE*/
$color-browse: #AA7835;
$color-text: #333333;
$color-gray: #BCBEC0;

/*MIXIN*/
@mixin media($max-width:767px){
  @media screen and (max-width:$max-width){
    @content;
  }
}

@mixin transition ($trans...){
  -webkit-transition: $trans ;
  -moz-transition: $trans ;
  -ms-transition: $trans ;
  -o-transition: $trans ;
  transition: $trans ;
}

@mixin font-lob{
  font-family: 'Lobster', cursive;
}

@mixin font-title{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:700;
}

/*PLACEHOLDER*/
%title-template{
  text-transform: uppercase;
  font-size:1.8rem;
  color: $color-gray;
  margin-bottom:1.5rem;
  padding-bottom:1rem;
  position:relative;
  &:after{
    content:'';
    display:block;
    position:absolute;
    left:0;
    bottom:0;
    height:2px;
    width:70%;
    background:lighten($color-browse, 35%);
    @include media{
      width:100%;
    }
  }
}

%product-wrapper{
  img.img-section{
    margin-bottom:1.2rem;
  }
  h4.title-product{
    text-align:center;
    font-size: 1.6rem;
    color:$color-text;
    text-transform: uppercase;
    margin-bottom:1rem;
  }
  p.price{
    text-align:center;
    color:$color-browse;
    margin-bottom:1.5rem;
    font-weight:600;
  }
  a.btn-addcart{
    display: inline-block;
    margin:0 auto;
    padding: 0.3rem 3.5rem;
    border:1px solid $color-text;
    border-radius:5px;
    color:$color-text;
    text-transform: uppercase;
    @include transition(all 0.3s);
    &:hover{
      background:$color-browse;
      border-color:white;
      color:white;
    }
  }
}

%button-template{
  padding:0.4rem 1.4rem;
  background:$color-browse;
  border:none;
  color:white;
  font-size:1.2rem;
  font-weight:600;
  cursor:pointer;
  text-transform: uppercase;
  @include transition(all 0.3s);
  &:hover{
    background:darken($color-browse, 15%);
  }
}
/*RESET*/
*{margin:0; padding:0}
html{
  font-family: 'Roboto', sans-serif;
  font-size:62.5%;
}
body{
  font-size:1.4rem;
  line-height:2rem;
}

h1, h2, h3, h4, h5, p{margin:0; padding:0;}
h1, h2, h3, h4, h5{
  @include font-title;
}
h1, h2, h3, h4, h5, p, a{color:$color-text}

a:hover{
  text-decoration: none !important;
}

.bg-yellow{
  background:lighten($color-browse, 20%);
}
/****/

/*HOMEPAGE*/
.pre-header{
  margin-bottom:1.5rem;
  padding:0.5rem 0;
  .item-wrap{
    border-right:1px solid #ccc;
    padding:0 15px;
    a{
      displat:block;
      font-size:1.4rem;
    }
    &:last-child{
      border-right:none;
    }
  }
}

header.header{
  margin-bottom:1rem;
  .logo-wrapper{
    @include media{
      text-align:center;
      margin-bottom:1rem;
    }
  }
  .navbar-wrapper{
    height:100%;
    @include media{
      background:lighten($color-browse, 40%);
    }
    .my-navbar{
      padding:0;
      @include media{
        width:100%;
        padding:0.8rem 1.5rem;
      }
      .navbar-brand{
        color:$color-browse;
        font-weight:600;
        font-size:1.8rem;
        display: none;
        @include media{
          display: block;
        }
      }
      .navbar-toggler{
        padding:0.4rem .75rem;
      }
    }
    ul.nav-menu{
      li{
        padding:0rem 1rem;
        @include media{
          padding:0.6rem 0;
        }
        a{
          display:block;
          text-transform: uppercase;
          font-weight:600;
          color:$color-text;
          @include transition(color 0.5s);
          &:hover{
            color:darken($color-browse, 5%);
          }
        }
        &.search-item{
          border-left:1px solid $color-text;
          cursor:pointer;
          position:relative;
          @include media{
            border-left:none;
            > span{
              display: none;
            }
          }
          #search-box{
            position:absolute;
            right:0;
            top:calc(100% + 0.3rem);
            width:220px;
            @include media{
              width:100%;
              position: static;
              display: block;
            }
            input{
              padding:0.8rem 1rem;
            }
            button{
              padding:3px 8px;
              background:$color-browse;
              border:none;
              color:white;
              cursor: pointer;
              border-radius:0 3px 3px 0;
            }
          }
        }

        &.dropdown{
          .dropdown-menu{
            top: calc(100% + 1rem);
            border:none;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            margin:0;
            border-top:2px solid $color-browse;
            a{
              font-size:1.4rem;

            }
          }
        }
      }
    }
  }
}

section{
  padding:5rem 0;
  &.no-pad{
    padding:0
  }
  &.banner{
    padding:0;
  }
  .title-wrapper{
    margin-bottom:3rem;
  }
  h2.title-section{
    display: inline-block;
    text-align:center;
    font-size:3.5rem;
    position:relative;
    padding:0 1.5rem 2rem;
    @include font-lob;
    color:$color-gray;
    &:before{
      content:'';
      display: block;
      position:absolute;
      left:0;
      bottom:0;
      height:3px;
      width:100%;
      background:$color-browse;
    }
  }
  .content-wrapper{
    text-align:center;
    @extend %product-wrapper;
  }

  .btn-control{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    z-index:10;
    cursor:pointer;
    i{
      opacity:0.5;
      font-size:5rem;
      color:$color-browse;
    }
    &.btn-pre{
      left:-20px;
    }
    &.btn-next{
      right:-20px;
    }
  }
}

/*FEATURE*/
.feature{
  .item-feature{
    padding:0 1.5rem;
    img{
      margin:0 auto 1.2rem;
    }
    &:focus{
      outline:none;
    }
  }
}

/*PROMOTION*/
.promotion{
  .promotion-slick{
    margin-bottom:3rem;
    .item-promotion{
      padding: 0 1.5rem;
      &:focus{
        outline:none;
      }
    }
  }
  .button-container{
    padding:1.5rem 0;
    a.btn-more{
      font-weight:600;
      padding:0.8rem 2.5rem;
      border:1px solid white;
      background:$color-browse;
      text-transform: capitalize;
      font-size:1.5rem;
      border-radius:5px;
      color:white;
      @include transition(all 0.3s);
      &:hover{
        background:transparent;
        border-color:$color-browse;
        color:$color-browse;
      }

    }
  }
}

/*BEST SELLER*/
.best-seller{
  .each-bestSeller{
    @include media{
      margin-bottom:1.5rem;
    }
  }
}
/*END*/

/*SIDEBAR TEMPLATE*/
.sidebar-template{
  .sidebar-wrapper{
    .box-sidebar{
      margin-bottom:4rem;
      padding-bottom:1rem;
      h4.title-box{
        @extend %title-template;
      }
      .content-box{
        .media{
          margin-bottom:1.8rem;
          img{
            max-width:80px;
          }
          .media-body{
            h5{
              font-size:1.5rem;
              font-weight:600;
              a{
                color:$color-text;
              }
            }
            .media-content{
              font-size:1.3rem;
            }
          }
        }
        .list-template{
          list-style-type: none;
          max-width: 70%;
          @include media{
            max-width:100%;
          }
          > li{
            margin-bottom:1.2rem;
            > a{
              display: block;
              font-size:1.4rem;
              color:$color-browse;
              text-transform: uppercase;
              font-weight:600;
              padding:4px 15px;
            }
            ul.sub-list{
              list-style-type: none;
              li{
                padding-left:30px;
                padding-top:4px;
                padding-bottom:4px;
                a{
                  display: block;
                  font-size:1.3rem;
                  color:darken($color-gray, 20%);
                  text-transform: uppercase;
                  font-weight:600;
                }
              }
            }
          }
          > li.active{
            > a{
              background:lighten($color-browse, 35%);
              color:darken($color-browse, 15%);
            }

          }
        }
      }
    }
  }
  .main-content{
    @include media{
      margin-bottom:4rem;
    }
    .title-content-wrapper{
      h2.title-content{
        @extend %title-template;
        &:after{
          width:150px;
        }
      }
    }
    .each-template{
      margin-bottom:1.5rem;
      img{
        display: block;
      }
      .media-body{
        h5{
          font-size:1.6rem;
          font-weight:600;
          text-transform: uppercase;
          a{
            color:$color-text;
          }
        }
        .media-content{
          font-size:1.3rem;
        }
        a.btn-more{
          text-align:right;
          font-style: italic;
          color:$color-browse;
        }
      }
    }

    .content-detail{
      p{
        font-size:1.4rem;
        margin-bottom:1rem;
        &:last-child{
          margin:0;
        }
      }
    }
  }
}
/*END*/

/*PRODUCT TEMPLATE*/
.product-template{
  .each-element{
    margin-bottom:1rem;
    .item-element{
      h4.title-product{
        padding-top:1rem;
      }
    }
    .img-wrapper{
      overflow: hidden;
      position:relative;
      img{
        margin:0;
      }
      .mask{
        width:100%;
        height:100%;
        position:absolute;
        background:rgba($color-text, 0.7);
        z-index:2;
        top:0;
        left:0;
        transform:translate(-230px,230px);
        opacity: 0.3;
        @include transition(all 0.3s);
      }
      .wrap-btn{
        position:absolute;
        width:100%;
        height:100%;
        padding:3rem;
        top:0;
        left:0;
        z-index:3;
        a.btn-template{
          font-size:1.2rem;
          padding:0.2rem 1.4rem;
          border:1px solid $color-gray;
          border-radius:4px;
          background:rgba($color-browse,0.8);
          color:white;
          font-weight:600;
          transform:translate(150px,-150px);
          @include transition(transform 0.3s 0.1s, opacity 0.3s 0.1s, background 0.3s);
          opacity:0;
          &:hover{
            background:rgba($color-gray,0.3);
          }
          &.btn-detail-product{
            margin-bottom:1rem;
          }
          &.btn-cart{
            transform:translate(-150px,150px);
            @include transition(transform 0.3s 0.3s, opacity 0.3s 0.3s,  background 0.3s);
          }
        }
      }
      &:hover{
        .mask{
          transform: translate(0, 0);
          opacity:1;
        }
        a.btn-detail-product, a.btn-cart
        {
          transform:translate(0,0) !important;
          opacity:1;
        }
      }

    }
  }
}

/*ADD TO CART*/
.addtocart-template{
  .photo-wrapper{
    #gallery{
      margin:1rem 0;
      img{
        border:2px solid $color-gray;
      }
    }
  }
  .information-wrapper{
    h2.title-product{
      @extend %title-template;
      font-size:1.8rem;
      &:after{
        width:30%;
      }
    }
    .info{
      margin-bottom:1rem;
      p{
        font-size:1.4rem;
        i{
          font-weight:600;
          font-size:1.6rem;
        }
      }
    }
    .quantity-wrapper{
      margin-bottom:3rem;
      label{
        font-size:1.4rem;
        font-weight:600;
      }
      input{
        max-width:200px;
        font-size:1.4rem;
      }
    }
    .price-wrapper{
      font-size:2rem;
      font-weight:600;
      @include font-title;
      p{
        color:$color-browse;
      }
    }
    .btn-wrapper{
      margin-top:4rem;
      button{
        font-size:1.5rem;
        padding:0.6rem 2rem;
        background:lighten($color-browse, 15%);
        border:1px solid darken($color-browse, 15%);
        color:white;
        text-transform: uppercase;
        font-weight:600;
        @include transition(background 0.3s);
        &:hover{
          background:lighten($color-browse, 5%);
        }
      }
    }
  }

  .product-description{
    margin-top:3rem;
    .nav-tabs{
      li{
        a{
          color:$color-gray;
          @include transition(color 0.3s);
          &.active{
            font-weight:600;
            color:$color-browse;
          }
        }
      }
    }
    .tab-pane{
      padding:1rem;
      p{
        margin-bottom:1rem;
        font-size:1.4rem;
      }
    }
  }
}

/*CONTACT*/
.contact{
  .map-wrapper{
    #input-director{
      input, button{
        font-size:1.4rem;
        padding:0.3rem 1rem;
      }
      button{
        background: $color-browse;
        color:white;
      }
    }
  }
  .info{
    margin-bottom:1.5rem;
    font-size:1.4rem;
  }
  .form-contact-wrapper{
    button{
      font-size:1.4rem;
      background:$color-browse;
      color:white;
      border:none;
      padding:0.5rem 2rem;
      @include transition(background 0.3s);
      &:hover{
        background: darken($color-browse, 5%);
      }
    }
  }
}

/*LOGIN*/
.user-template{
  h3{
    @extend %title-template;
    font-size:1.6rem;
    margin-bottom:1.2rem;

  }
  label, input, password{
    font-size: 1.4rem;
  }
  button{
    @extend %button-template;
  }
  .login-wrapper{
    .forget-wrapper{
      a{
        font-size:1.3rem;
        font-style: italic;
        color:$color-browse;
        &:hover{
          font-weight:600;
        }
      }
    }
  }
  .line-break{
    position:relative;
    height:100%;
    &:before{
      content:'';
      display: block;
      width:1px;
      background:$color-browse;
    }
    &:after{
      content: '';
      display:block;
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
      width:30px;
      height:30px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background:darken($color-browse,5%);
      border:5px solid white;
      box-shadow:0 0 5px #ccc;
    }
  }
}

/*CART TEMPLATE*/
.cart-template{
  .cart-wrapper{
    table{
      thead tr{
        background:darken($color-gray,10%);
        th{
          font-weight:600;
          font-size:1.4rem;
          text-transform: uppercase;
          color:white
        }
      }
      tbody {
        tr{
          td{
            font-size:1.4rem;
            padding:0.4rem 1rem;
            vertical-align: middle;
          }
          &:last-child{
            td{
              font-weight:600;
              font-size:1.6rem;
              text-transform:uppercase;
            }
          }
          button.btn-remove{
            @extend %button-template;
            background:darkred;
          }
        }

      }
      tfoot{
        .btn-cart{
          @extend %button-template;
          &.btn-remove{
            background:#880000;
          }
          &.btn-udpate {
            background:#1ba87e;
          }
          &.btn-payment{
            background:#1c94c4;
            padding:0.6rem 1.4rem;
          }
        }

      }
    }
  }
}

/*PAYMENT*/
.payment-template{
  h5.title{
    @extend %title-template;
    font-size:1.5rem;
    color:darken($color-gray, 15%);
    &:after{
      width:60%;
    }
  }
  input, button, label, select{
    font-size:1.4rem;
    color:$color-text;
  }
  .custom-control{
    padding-left:1.8rem;
    label{
      &:before, &:after{
        top:5px;
        width:1.2rem;
        height:1.2rem;
      }
    }
  }

  .area{
    padding:1rem;
    margin-bottom:3rem;
    box-shadow:1px 2px 4px #ccc
  }
  .promotion-wrapper{
    button{
      @extend %button-template;
      background:#1ba87e;
      &:hover{
        background:darken(#1ba87e, 10%);
      }
    }

  }
  .wrap-total{
    p{
      font-size:1.4rem;
      font-weight:600;
      &.price{
        font-size:1.6rem;
        color:$color-browse;
      }
    }
  }
  .wrap-payment{
    button{
      @extend %button-template;
      font-size:1.6rem;
    }
  }
  table.table-product{
    tfoot{
      font-weight:600;
    }
  }
}

/*
FOOTER*/
footer{
  padding: 5rem 0 8rem;
  background:lighten($color-browse, 30%);
  border-top:4px solid darken($color-browse, 8%);
  @include media{
    padding:2rem 0 5rem;
  }
  .footer-container{
      ul.list-footer{
        list-style: none;
        li.header{
          font-size:1.8rem;
          margin-bottom:1.6rem;
          font-weight:600;
        }
        li{
          a{
            display: block;
            padding:3px 0;
            font-size: 1.4rem;
          }
        }
      }
    .title-wrapper{
      h3.title-footer{
        text-transform: uppercase;
        color:lighten($color-browse, 5%);
        font-size:1.8rem;
        line-height: 2.2rem;
        margin-bottom:8px;
        font-weight:600;
      }
      sup{
        font-size:1.4rem;
        color:$color-text;
      }
    }
    .form-wrapper{
      input{
        padding:0.4rem 1rem;
        font-size:1.4rem;
      }
      button{
        padding:0.5rem 1.6rem;
        border:none;
        background:$color-browse;
        color:white;
        cursor:pointer;
        i{
          font-size:2rem;
          font-weight:600;
        }
      }
    }
    .icon-footer{
      a{
        color:white;
        margin-left:1.2rem;
        &:first-child{
          margin-left:0;
        }
        i{
          font-size:2.8rem;
          color:$color-browse;
          @include transition(all 0.3s);
        }
        &:hover{
          i{
            color:white;
          }
        }
      }
    }
  }
}
