/*VARIABLE*/
$color-browse: #AA7835;
$color-text: #333333;
$color-gray: #BCBEC0;

/*MIXIN*/
@mixin media($max-width:767px){
  @media screen and (max-width:$max-width){
    @content;
  }
}

@mixin transition ($trans...){
  -webkit-transition: $trans ;
  -moz-transition: $trans ;
  -ms-transition: $trans ;
  -o-transition: $trans ;
  transition: $trans ;
}

@mixin font-lob{
  font-family: 'Lobster', cursive;
}
/*RESET*/
*{margin:0; padding:0}
html{
  font-family: 'Roboto', sans-serif;
  font-size:62.5%;
}
body{
  font-size:1.4rem;
  line-height:2rem;
}

h1, h2, h3, h4, p{margin:0; padding:0;}
h1, h2, h3, h4, p, a{color:$color-text}

a:hover{
  text-decoration: none !important;
}

.bg-yellow{
  background:lighten($color-browse, 20%);
}

/****/

.pre-header{
  margin-bottom:1.5rem;
  padding:0.5rem 0;
  .item-wrap{
    border-right:1px solid #ccc;
    padding:0 15px;
    a{
      displat:block;
      font-size:1.4rem;
    }
    &:last-child{
      border-right:none;
    }
  }
}

header.header{
  margin-bottom:1rem;
  .navbar-wrapper{
    height:100%;
    ul.nav-menu{
      li{
        padding:0.3rem 1rem;
        a{
          display:block;
          text-transform: uppercase;
          font-weight:600;
          color:$color-text;
          @include transition(color 0.5s);
          &:hover{
            color:darken($color-browse, 5%);
          }
        }
        &.search-item{
          border-left:1px solid $color-text;
          cursor:pointer;
          position:relative;
          #search-box{
            position:absolute;
            right:0;
            top:calc(100% + 0.3rem);
            width:220px;
            input{
              padding:0.8rem 1rem;
            }
            button{
              padding:3px 8px;
              background:$color-browse;
              border:none;
              color:white;
              cursor: pointer;
              border-radius:0 3px 3px 0;
            }
          }
        }
      }
    }
  }
}

section{
  padding:5rem 0;
  &.banner{
    padding:0;
  }
  .title-wrapper{
    margin-bottom:3rem;
  }
  h2.title-section{
    display: inline-block;
    text-align:center;
    font-size:3.5rem;
    position:relative;
    padding:0 1.5rem 2rem;
    @include font-lob;
    color:$color-gray;
    &:before{
      content:'';
      display: block;
      position:absolute;
      left:0;
      bottom:0;
      height:3px;
      width:100%;
      background:$color-browse;
    }
  }
  .content-wrapper{
    text-align:center;
  }
  img.img-section{
    margin-bottom:1.2rem;
  }
  h4.title-product{
    text-align:center;
    font-size: 1.6rem;
    color:$color-text;
    text-transform: uppercase;
    margin-bottom:1.5rem;
  }
  p.price{
    text-align:center;
    color:$color-browse;
    margin-bottom:1.5rem;
    font-weight:600;
  }
  a.btn-addcart{
    display: inline-block;
    margin:0 auto;
    padding: 0.3rem 3.5rem;
    border:1px solid $color-text;
    border-radius:5px;
    color:$color-text;
    text-transform: uppercase;
    @include transition(all 0.3s);
    &:hover{
      background:$color-browse;
      border-color:white;
      color:white;
    }
  }
  .btn-control{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    z-index:10;
    cursor:pointer;
    i{
      opacity:0.5;
      font-size:5rem;
      color:$color-browse;
    }
    &.btn-pre{
      left:-20px;
    }
    &.btn-next{
      right:-20px;
    }
  }
}

/*FEATURE*/
.feature{
  .item-feature{
    padding:0 1.5rem;
    img{
      margin:0 auto 1.2rem;
    }
    &:focus{
      outline:none;
    }
  }
}

/*PROMOTION*/
.promotion{
  .promotion-slick{
    margin-bottom:3rem;
    .item-promotion{
      padding: 0 1.5rem;
      &:focus{
        outline:none;
      }
    }
  }
  .button-container{
    padding:1.5rem 0;
    a.btn-more{
      font-weight:600;
      padding:0.8rem 2.5rem;
      border:1px solid white;
      background:$color-browse;
      text-transform: capitalize;
      font-size:1.5rem;
      border-radius:5px;
      color:white;
      @include transition(all 0.3s);
      &:hover{
        background:transparent;
        border-color:$color-browse;
        color:$color-browse;
      }

    }
  }
}

/*BEST SELLER*/
.best-seller{
  .each-bestSeller{
    @extend .content-wrapper;
  }
}


/*
FOOTER*/
footer{
  padding: 5rem 0 8rem;
  background:lighten($color-browse, 30%);
  border-top:4px solid darken($color-browse, 8%);
  .footer-container{
      ul.list-footer{
        list-style: none;
        li.header{
          font-size:1.8rem;
          margin-bottom:1.6rem;
          font-weight:600;
        }
        li{
          a{
            display: block;
            padding:3px 0;
            font-size: 1.4rem;
          }
        }
      }
    .title-wrapper{
      margin-bottom:10px;
      h3.title-footer{
        text-transform: uppercase;
        color:lighten($color-browse, 5%);
        font-size:1.6rem;
        line-height: 2rem;
        margin-bottom:8px;
      }
      sup{
        font-size:1.4rem;
        color:$color-text;
      }
    }
    .form-wrapper{
      input{
        padding:0.4rem 1rem;
        font-size:1.4rem;
      }
      button{
        padding:0.5rem 1rem;
        border:none;
        background:$color-browse;
        color:white;
        cursor:pointer;
        i{
          font-size:1.6rem
        }
      }
    }
    .icon-footer{
      a{
        font-size:2rem;
        color:white;
        margin-left:1.2rem;
        padding: 10px;
        borrder-radius:50%;
        border:1px solid white;
        background:$color-browse;
        &:last-child{
          //margin-left:0;
        }
      }
    }
  }
}
