@import url(../fonts/judson/styles.css);
/*VARIABLE*/
/*MIXIN*/
/*PLACEHOLDER*/
.sidebar-template .sidebar-wrapper .box-sidebar h4.title-box, .sidebar-template .main-content .title-content-wrapper h2.title-content, .product-template .title-brands, .addtocart-template .information-wrapper h2.title-product, .user-template h3, .payment-template h5.title {
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #BCBEC0;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  position: relative; }
  .sidebar-template .sidebar-wrapper .box-sidebar h4.title-box:after, .sidebar-template .main-content .title-content-wrapper h2.title-content:after, .product-template .title-brands:after, .addtocart-template .information-wrapper h2.title-product:after, .user-template h3:after, .payment-template h5.title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 70%;
    background: #e5cdac; }
    @media screen and (max-width: 767px) {
      .sidebar-template .sidebar-wrapper .box-sidebar h4.title-box:after, .sidebar-template .main-content .title-content-wrapper h2.title-content:after, .product-template .title-brands:after, .addtocart-template .information-wrapper h2.title-product:after, .user-template h3:after, .payment-template h5.title:after {
        width: 100%; } }

section .content-wrapper img.img-section, .best-seller .each-bestSeller img.img-section {
  margin-bottom: 1.2rem; }
section .content-wrapper h4.title-product, .best-seller .each-bestSeller h4.title-product {
  text-align: center;
  font-size: 1.6rem;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 1rem; }
section .content-wrapper p.price, .best-seller .each-bestSeller p.price {
  text-align: center;
  color: #AA7835;
  margin-bottom: 1.5rem;
  font-weight: 600; }
section .content-wrapper a.btn-addcart, .best-seller .each-bestSeller a.btn-addcart {
  display: inline-block;
  margin: 0 auto;
  padding: 0.3rem 3.5rem;
  border: 1px solid #333333;
  border-radius: 5px;
  color: #333333;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  section .content-wrapper a.btn-addcart:hover, .best-seller .each-bestSeller a.btn-addcart:hover {
    background: #AA7835;
    border-color: white;
    color: white; }

.user-template button, .cart-template .cart-wrapper table tbody tr button.btn-remove, .cart-template .cart-wrapper table tfoot .btn-cart, .payment-template .promotion-wrapper button, .payment-template .wrap-payment button, section.search-page a.btn-sp {
  padding: 0.4rem 1.4rem;
  background: #AA7835;
  border: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .user-template button:hover, .cart-template .cart-wrapper table tbody tr button.btn-remove:hover, .cart-template .cart-wrapper table tfoot .btn-cart:hover, .payment-template .promotion-wrapper button:hover, .payment-template .wrap-payment button:hover, section.search-page a.btn-sp:hover {
    background: #704f23; }

/*RESET*/
* {
  margin: 0;
  padding: 0; }

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%; }

body {
  font-size: 1.4rem;
  line-height: 2rem; }

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700; }

h1, h2, h3, h4, h5, p, a {
  color: #333333; }

label, input, select, textarea {
  font-size: 1.4rem !important;
  height: auto !important; }

a:hover {
  text-decoration: none !important; }

.bg-yellow {
  background: #d3aa72; }

/****/
/*HOMEPAGE*/
.pre-header {
  margin-bottom: 1.5rem;
  padding: 0.5rem 0; }
  .pre-header .item-wrap {
    border-right: 1px solid #ccc;
    padding: 0 15px; }
    .pre-header .item-wrap a {
      displat: block;
      font-size: 1.4rem; }
    .pre-header .item-wrap:last-child {
      border-right: none; }
    .pre-header .item-wrap .dropdown p {
      font-weight: 600;
      color: #704f23; }

header.header {
  margin-bottom: 1rem; }
  @media screen and (max-width: 767px) {
    header.header .logo-wrapper {
      text-align: center;
      margin-bottom: 1rem; } }
  header.header .navbar-wrapper {
    height: 100%; }
    @media screen and (max-width: 767px) {
      header.header .navbar-wrapper {
        background: #ebd9c0; } }
    header.header .navbar-wrapper .my-navbar {
      padding: 0; }
      @media screen and (max-width: 767px) {
        header.header .navbar-wrapper .my-navbar {
          width: 100%;
          padding: 0.8rem 1.5rem; } }
      header.header .navbar-wrapper .my-navbar .navbar-brand {
        color: #AA7835;
        font-weight: 600;
        font-size: 1.8rem;
        display: none; }
        @media screen and (max-width: 767px) {
          header.header .navbar-wrapper .my-navbar .navbar-brand {
            display: block; } }
      header.header .navbar-wrapper .my-navbar .navbar-toggler {
        padding: 0.4rem .75rem; }
    header.header .navbar-wrapper ul.nav-menu li {
      padding: 0rem 1rem; }
      @media screen and (max-width: 767px) {
        header.header .navbar-wrapper ul.nav-menu li {
          padding: 0.6rem 0; } }
      header.header .navbar-wrapper ul.nav-menu li a {
        display: block;
        text-transform: uppercase;
        font-weight: 600;
        color: #333333;
        -webkit-transition: color 0.5s;
        -moz-transition: color 0.5s;
        -ms-transition: color 0.5s;
        -o-transition: color 0.5s;
        transition: color 0.5s; }
        header.header .navbar-wrapper ul.nav-menu li a:hover {
          color: #976a2f; }
      header.header .navbar-wrapper ul.nav-menu li.search-item {
        border-left: 1px solid #333333;
        cursor: pointer;
        position: relative; }
        @media screen and (max-width: 767px) {
          header.header .navbar-wrapper ul.nav-menu li.search-item {
            border-left: none; }
            header.header .navbar-wrapper ul.nav-menu li.search-item > span {
              display: none; } }
        header.header .navbar-wrapper ul.nav-menu li.search-item #search-box {
          position: absolute;
          right: 0;
          top: calc(100% + 0.3rem);
          width: 220px; }
          @media screen and (max-width: 767px) {
            header.header .navbar-wrapper ul.nav-menu li.search-item #search-box {
              width: 100%;
              position: static;
              display: block; } }
          header.header .navbar-wrapper ul.nav-menu li.search-item #search-box input {
            padding: 0.8rem 1rem; }
          header.header .navbar-wrapper ul.nav-menu li.search-item #search-box button {
            padding: 3px 8px;
            background: #AA7835;
            border: none;
            color: white;
            cursor: pointer;
            border-radius: 0 3px 3px 0; }
      header.header .navbar-wrapper ul.nav-menu li.dropdown .dropdown-menu {
        top: calc(100% + 1rem);
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        margin: 0;
        border-top: 2px solid #AA7835; }
        header.header .navbar-wrapper ul.nav-menu li.dropdown .dropdown-menu a {
          font-size: 1.4rem; }

section {
  padding: 5rem 0; }
  section.no-pad {
    padding: 0; }
  section.banner {
    padding: 0; }
    @media screen and (max-width: 767px) {
      section.banner .bannercontainer ul li:first-child img.caption-first {
        transform: matrix(0.9, 0, 0, 0.9, 0, 0); } }
  section .title-wrapper {
    margin-bottom: 3rem; }
  section h2.title-section {
    display: inline-block;
    text-align: center;
    font-size: 3.5rem;
    position: relative;
    padding: 0 1.5rem 2rem;
    font-family: 'Judson-Regular';
    color: #BCBEC0; }
    section h2.title-section:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 100%;
      background: #AA7835; }
  section .content-wrapper {
    text-align: center; }
  section .btn-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer; }
    section .btn-control i {
      opacity: 0.5;
      font-size: 5rem;
      color: #AA7835; }
    section .btn-control.btn-pre {
      left: -20px; }
    section .btn-control.btn-next {
      right: -20px; }

/*FEATURE*/
.feature .item-feature {
  padding: 0 1.5rem; }
  .feature .item-feature img {
    margin: 0 auto 1.2rem; }
  .feature .item-feature:focus {
    outline: none; }

/*PROMOTION*/
.promotion .promotion-slick {
  margin-bottom: 3rem; }
  .promotion .promotion-slick .item-promotion {
    padding: 0 1.5rem; }
    .promotion .promotion-slick .item-promotion:focus {
      outline: none; }
.promotion .button-container {
  padding: 1.5rem 0; }
  .promotion .button-container a.btn-more {
    font-weight: 600;
    padding: 0.8rem 2.5rem;
    border: 1px solid white;
    background: #AA7835;
    text-transform: capitalize;
    font-size: 1.5rem;
    border-radius: 5px;
    color: white;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .promotion .button-container a.btn-more:hover {
      background: transparent;
      border-color: #AA7835;
      color: #AA7835; }

/*BEST SELLER*/
@media screen and (max-width: 767px) {
  .best-seller .each-bestSeller {
    margin-bottom: 1.5rem; } }

/*END*/
/*SIDEBAR TEMPLATE*/
.sidebar-template .sidebar-wrapper .box-sidebar {
  margin-bottom: 4rem;
  padding-bottom: 1rem; }
  .sidebar-template .sidebar-wrapper .box-sidebar .content-box .media {
    margin-bottom: 1.8rem; }
    .sidebar-template .sidebar-wrapper .box-sidebar .content-box .media img {
      max-width: 80px; }
    .sidebar-template .sidebar-wrapper .box-sidebar .content-box .media .media-body h5 {
      font-size: 1.5rem;
      font-weight: 600; }
      .sidebar-template .sidebar-wrapper .box-sidebar .content-box .media .media-body h5 a {
        color: #333333; }
    .sidebar-template .sidebar-wrapper .box-sidebar .content-box .media .media-body .media-content {
      font-size: 1.3rem; }
  .sidebar-template .sidebar-wrapper .box-sidebar .content-box .list-template {
    list-style-type: none;
    max-width: 70%; }
    @media screen and (max-width: 767px) {
      .sidebar-template .sidebar-wrapper .box-sidebar .content-box .list-template {
        max-width: 100%; } }
    .sidebar-template .sidebar-wrapper .box-sidebar .content-box .list-template > li {
      margin-bottom: 1.2rem; }
      .sidebar-template .sidebar-wrapper .box-sidebar .content-box .list-template > li > a {
        display: block;
        font-size: 1.4rem;
        color: #AA7835;
        text-transform: uppercase;
        font-weight: 600;
        padding: 4px 15px; }
      .sidebar-template .sidebar-wrapper .box-sidebar .content-box .list-template > li ul.sub-list {
        list-style-type: none; }
        .sidebar-template .sidebar-wrapper .box-sidebar .content-box .list-template > li ul.sub-list li {
          padding-left: 30px;
          padding-top: 4px;
          padding-bottom: 4px; }
          .sidebar-template .sidebar-wrapper .box-sidebar .content-box .list-template > li ul.sub-list li a {
            display: block;
            font-size: 1.3rem;
            color: #878b8f;
            text-transform: uppercase;
            font-weight: 600; }
    .sidebar-template .sidebar-wrapper .box-sidebar .content-box .list-template > li.active > a {
      background: #e5cdac;
      color: #704f23; }
@media screen and (max-width: 767px) {
  .sidebar-template .main-content {
    margin-bottom: 4rem; } }
.sidebar-template .main-content .title-content-wrapper h2.title-content:after {
  width: 150px; }
.sidebar-template .main-content .each-template {
  margin-bottom: 1.5rem; }
  .sidebar-template .main-content .each-template img {
    display: block; }
  .sidebar-template .main-content .each-template .media-body h5 {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase; }
    .sidebar-template .main-content .each-template .media-body h5 a {
      color: #333333; }
  .sidebar-template .main-content .each-template .media-body .media-content {
    font-size: 1.3rem; }
  .sidebar-template .main-content .each-template .media-body a.btn-more {
    text-align: right;
    font-style: italic;
    color: #AA7835; }
.sidebar-template .main-content .content-detail p {
  font-size: 1.4rem;
  margin-bottom: 1rem; }
  .sidebar-template .main-content .content-detail p:last-child {
    margin: 0; }

/*END*/
/*PRODUCT TEMPLATE*/
.product-template .title-brands:after {
  width: 40%; }
.product-template .each-element {
  margin-bottom: 1rem; }
  .product-template .each-element .item-element h4.title-product {
    padding-top: 1rem; }
  .product-template .each-element .img-wrapper {
    overflow: hidden;
    position: relative; }
    .product-template .each-element .img-wrapper img {
      margin: 0; }
    .product-template .each-element .img-wrapper .mask {
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(51, 51, 51, 0.7);
      z-index: 2;
      top: 0;
      left: 0;
      transform: translate(-230px, 230px);
      opacity: 0.3;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .product-template .each-element .img-wrapper .wrap-btn {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 3rem;
      top: 0;
      left: 0;
      z-index: 3; }
      .product-template .each-element .img-wrapper .wrap-btn a.btn-template, .product-template .each-element .img-wrapper .wrap-btn button.btn-template {
        font-size: 1.2rem;
        padding: 0.2rem 1.4rem;
        border: 1px solid #BCBEC0;
        border-radius: 4px;
        background: rgba(170, 120, 53, 0.8);
        color: white;
        font-weight: 600;
        transform: translate(150px, -150px);
        -webkit-transition: transform 0.3s 0.1s, opacity 0.3s 0.1s, background 0.3s;
        -moz-transition: transform 0.3s 0.1s, opacity 0.3s 0.1s, background 0.3s;
        -ms-transition: transform 0.3s 0.1s, opacity 0.3s 0.1s, background 0.3s;
        -o-transition: transform 0.3s 0.1s, opacity 0.3s 0.1s, background 0.3s;
        transition: transform 0.3s 0.1s, opacity 0.3s 0.1s, background 0.3s;
        opacity: 0; }
        .product-template .each-element .img-wrapper .wrap-btn a.btn-template:hover, .product-template .each-element .img-wrapper .wrap-btn button.btn-template:hover {
          background: rgba(188, 190, 192, 0.3); }
        .product-template .each-element .img-wrapper .wrap-btn a.btn-template.btn-detail-product, .product-template .each-element .img-wrapper .wrap-btn button.btn-template.btn-detail-product {
          margin-bottom: 1rem; }
        .product-template .each-element .img-wrapper .wrap-btn a.btn-template.btn-cart, .product-template .each-element .img-wrapper .wrap-btn button.btn-template.btn-cart {
          cursor: pointer;
          transform: translate(-150px, 150px);
          -webkit-transition: transform 0.3s 0.3s, opacity 0.3s 0.3s, background 0.3s;
          -moz-transition: transform 0.3s 0.3s, opacity 0.3s 0.3s, background 0.3s;
          -ms-transition: transform 0.3s 0.3s, opacity 0.3s 0.3s, background 0.3s;
          -o-transition: transform 0.3s 0.3s, opacity 0.3s 0.3s, background 0.3s;
          transition: transform 0.3s 0.3s, opacity 0.3s 0.3s, background 0.3s; }
    .product-template .each-element .img-wrapper:hover .mask {
      transform: translate(0, 0);
      opacity: 1; }
    .product-template .each-element .img-wrapper:hover a.btn-detail-product, .product-template .each-element .img-wrapper:hover button.btn-cart {
      transform: translate(0, 0) !important;
      opacity: 1; }

/*ADD TO CART*/
.addtocart-template .photo-wrapper #gallery {
  margin: 1rem 0; }
  .addtocart-template .photo-wrapper #gallery img {
    border: 2px solid #BCBEC0; }
.addtocart-template .information-wrapper h2.title-product {
  font-size: 1.8rem; }
  .addtocart-template .information-wrapper h2.title-product:after {
    width: 30%; }
.addtocart-template .information-wrapper .info {
  margin-bottom: 1rem; }
  .addtocart-template .information-wrapper .info p {
    font-size: 1.4rem; }
    .addtocart-template .information-wrapper .info p i {
      font-weight: 600;
      font-size: 1.6rem; }
.addtocart-template .information-wrapper .quantity-wrapper {
  margin-bottom: 3rem; }
  .addtocart-template .information-wrapper .quantity-wrapper label {
    font-size: 1.4rem;
    font-weight: 600; }
  .addtocart-template .information-wrapper .quantity-wrapper input {
    max-width: 200px;
    font-size: 1.4rem; }
.addtocart-template .information-wrapper .price-wrapper {
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700; }
  .addtocart-template .information-wrapper .price-wrapper p {
    color: #AA7835; }
.addtocart-template .information-wrapper .btn-wrapper {
  margin-top: 4rem; }
  .addtocart-template .information-wrapper .btn-wrapper button {
    font-size: 1.5rem;
    padding: 0.6rem 2rem;
    background: #cd9e5f;
    border: 1px solid #704f23;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s; }
    .addtocart-template .information-wrapper .btn-wrapper button:hover {
      background: #bd863b; }
.addtocart-template .product-description {
  margin-top: 3rem; }
  .addtocart-template .product-description .nav-tabs li a {
    color: #BCBEC0;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s; }
    .addtocart-template .product-description .nav-tabs li a.active {
      font-weight: 600;
      color: #AA7835; }
  .addtocart-template .product-description .tab-pane {
    padding: 1rem; }
    .addtocart-template .product-description .tab-pane p {
      margin-bottom: 1rem;
      font-size: 1.4rem; }

/*CONTACT*/
.contact .map-wrapper #input-director input, .contact .map-wrapper #input-director button {
  font-size: 1.4rem;
  padding: 0.3rem 1rem; }
.contact .map-wrapper #input-director button {
  background: #AA7835;
  color: white; }
.contact .map-wrapper .map {
  overflow: hidden; }
  .contact .map-wrapper .map #map-canvas {
    height: 450px; }
.contact .info {
  margin-bottom: 1.5rem;
  font-size: 1.4rem; }
  .contact .info p {
    margin-bottom: 1.2rem; }
.contact .form-contact-wrapper button {
  font-size: 1.4rem;
  background: #AA7835;
  color: white;
  border: none;
  padding: 0.5rem 2rem;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s; }
  .contact .form-contact-wrapper button:hover {
    background: #976a2f; }

/*LOGIN*/
.user-template h3 {
  font-size: 1.6rem;
  margin-bottom: 1.2rem; }
.user-template label, .user-template input, .user-template password {
  font-size: 1.4rem; }
.user-template .login-wrapper .forget-wrapper a {
  font-size: 1.3rem;
  font-style: italic;
  color: #AA7835; }
  .user-template .login-wrapper .forget-wrapper a:hover {
    font-weight: 600; }
.user-template .line-break {
  position: relative;
  height: 100%; }
  .user-template .line-break:before {
    content: '';
    display: block;
    width: 1px;
    background: #AA7835; }
  .user-template .line-break:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #976a2f;
    border: 5px solid white;
    box-shadow: 0 0 5px #ccc; }

/*CART TEMPLATE*/
.cart-template .cart-wrapper table thead tr {
  background: #a2a5a7; }
  .cart-template .cart-wrapper table thead tr th {
    font-weight: 600;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: white; }
.cart-template .cart-wrapper table tbody tr td {
  font-size: 1.4rem;
  padding: 0.4rem 1rem;
  vertical-align: middle; }
.cart-template .cart-wrapper table tbody tr:last-child td {
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase; }
.cart-template .cart-wrapper table tbody tr button.btn-remove {
  background: darkred; }
.cart-template .cart-wrapper table tfoot .btn-cart {
  padding: 0.6rem 1.4rem;
  line-height: 1.75rem; }
  .cart-template .cart-wrapper table tfoot .btn-cart.btn-remove {
    background: #880000; }
  .cart-template .cart-wrapper table tfoot .btn-cart.btn-udpate {
    background: #1ba87e; }
  .cart-template .cart-wrapper table tfoot .btn-cart.btn-payment {
    background: #1c94c4; }

/*PAYMENT*/
.payment-template h5.title {
  font-size: 1.5rem;
  color: #95989b; }
  .payment-template h5.title:after {
    width: 60%; }
.payment-template input, .payment-template button, .payment-template label, .payment-template select {
  font-size: 1.4rem;
  color: #333333;
  height: auto !important; }
.payment-template .custom-control {
  padding-left: 1.8rem; }
  .payment-template .custom-control label:before, .payment-template .custom-control label:after {
    top: 5px;
    width: 1.2rem;
    height: 1.2rem; }
.payment-template .area {
  padding: 1rem;
  margin-bottom: 3rem;
  box-shadow: 1px 2px 4px #ccc; }
.payment-template .promotion-wrapper button {
  background: #1ba87e; }
  .payment-template .promotion-wrapper button:hover {
    background: #147c5d; }
  .payment-template .promotion-wrapper button:disabled {
    background: #5a6268;
    cursor: none; }
.payment-template .wrap-total p {
  font-size: 1.4rem;
  font-weight: 600; }
  .payment-template .wrap-total p.price {
    font-size: 1.6rem;
    color: #AA7835; }
.payment-template .wrap-payment button {
  font-size: 1.6rem; }
.payment-template table.table-product tfoot {
  font-weight: 600; }

/*SEARCH*/
section.search-page h4.result-search {
  font-size: 1.6rem;
  margin-bottom: 1rem; }

/*
FOOTER*/
footer {
  padding: 5rem 0 8rem;
  background: #dfc199;
  border-top: 4px solid #8b622b; }
  @media screen and (max-width: 767px) {
    footer {
      padding: 2rem 0 5rem; } }
  footer .footer-container ul.list-footer {
    list-style: none; }
    footer .footer-container ul.list-footer li.header {
      font-size: 1.8rem;
      margin-bottom: 1.6rem;
      font-weight: 600; }
    footer .footer-container ul.list-footer li a {
      display: block;
      padding: 3px 0;
      font-size: 1.4rem; }
  footer .footer-container .title-wrapper h3.title-footer {
    text-transform: uppercase;
    color: #bd863b;
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-bottom: 8px;
    font-weight: 600; }
  footer .footer-container .title-wrapper sup {
    font-size: 1.4rem;
    color: #333333; }
  footer .footer-container .form-wrapper input {
    padding: 0.4rem 1rem;
    font-size: 1.4rem; }
  footer .footer-container .form-wrapper button {
    padding: 0.5rem 1.6rem;
    border: none;
    background: #AA7835;
    color: white;
    cursor: pointer; }
    footer .footer-container .form-wrapper button i {
      font-size: 2rem;
      font-weight: 600; }
  footer .footer-container .icon-footer a {
    color: white;
    margin-left: 1.2rem; }
    footer .footer-container .icon-footer a:first-child {
      margin-left: 0; }
    footer .footer-container .icon-footer a i {
      font-size: 2.8rem;
      color: #AA7835;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    footer .footer-container .icon-footer a:hover i {
      color: white; }

/*# sourceMappingURL=style.css.map */
